/***********************************
    filter selection
***********************************/
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #17a68a;
    border-bottom: 1px solid #16957c;
    z-index: 2;
    display: none;
}
.nav a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: calibri, sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
}
.button-group {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    background: none;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: calibri, sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
}
/*color swatches*/
.swatch {
    width: 30px;
    height: 30px;
    border: 3px solid #0c7b65;
    border-radius: 100%;
}
.swatch.reset {
    background: #ffffff;
}
.swatch.red {
    background: #ce6950;
}
.swatch.brown {
    background: #5b4a2d;
}
.swatch.black {
    background: #000000;
}
.swatch.grey {
    background: #919191;
}
.swatch.orange {
    background: #c67c03;
}


/***********************************
    tab selection
***********************************/
.left {
    position: fixed;
    top: 60px;
    left: 0;
    width: 30%;
    height: calc(100% - 60px);
    background-image: url('../images/vectorBG.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.links {
    position: absolute;
    top: 40px;
    right: 10px;
    height: calc(100% - 80px);
    width: 50px;
    text-align: right;
    display: table;
}
.links-inner {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: bottom;
}
.links img {
    display: block;
    margin: 10px;
    width: 50px;
    height: 50px;
    text-align: right;
    cursor: pointer;
}
#clear {
    margin-top: 50px;
}
.logo {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 70%;
}
.logo img {
    width: 100%;
}


/***********************************
    grid display
***********************************/
.right {
    position: fixed;
    top: 60px;
    right: 0;
    width: 70%;
    height: calc(100% - 60px);
    background: #81e5d2;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 25px;
    box-sizing: border-box;
}
.grid {
    max-width: calc(100% - 20px);
    margin: 0 auto;
}
.grid-item {
    width:140px;
    height:140px;
    margin:30px;
    position: relative;
}
.cardbg {
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    background: #ffbb48;
    border: 1px solid #ffae24;
    padding: 5px;
    transform: rotate(5deg);
}
@keyframes wiggle {
    0% {transform: rotate(5deg);}
    25% {transform: rotate(6deg);}
    50% {transform: rotate(5deg);}
    75% {transform: rotate(4deg);}
    100% {transform: rotate(5deg);}
}
.grid-item:hover .cardbg {
    animation-name: wiggle;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}
.card img {
    width: 130px;
    height: 130px;
}
.card {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    background: #ffd690;
    border: 1px solid #ffae24;
    padding: 5px;
}

.card img {
    width: 130px;
    height: 130px;
}

/*************************************
    MOBILE STYLES
*************************************/

@media only screen and (max-width: 1000px) {
    /** Primary Menu **/
    .left {
        background: #000000;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
    }
    .links {
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        display: block;
    }
    .links-inner {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .links img {
        margin: 0;
    }
    #clear {
        margin: 0;
    }

    /** Secondary Menu **/
	.nav {
        top: 70px;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        height: 70px;
    }
    .button-group {
        min-width: 1200px;
    }

    /** Content Area **/
    .right {
        width: 100%;
        top: 140px;
        left: 0;
        height: calc(100% - 140px);
        background-image: url('../images/vectorBG.png') !important;
        background-size: cover;
        background-repeat: no-repeat;
    }
}