/***********************************
    filter selection
***********************************/
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 100%;
    background: #17a68a;
    border-bottom: 1px solid #438474;
    z-index: 2;
    display: none;
    box-sizing: border-box;
}
.nav a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}
.biome {
    display: block;
}
.button-group {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    background: none;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}
/*color swatches*/
.swatch-cont {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.swatch {
    width: 20px;
    height: 20px;
    border: 1px solid #0c7b65;
    border-radius: 100%;
    float: left;
    margin-right: 5px;
}
.swatch-cont .swatch:last-child{
    margin-right: 0;
}
.swatch.reset {
    background: #ffffff;
    color: #ff0000;
    border-color: #ff0000;
    font-size: 24px;
    line-height: 20px;
}
.swatch.red {
    background: #ce6950;
}
.swatch.brown {
    background: #5b4a2d;
}
.swatch.black {
    background: #000000;
}
.swatch.grey {
    background: #919191;
}
.swatch.orange {
    background: #c67c03;
}
.swatch.white {
    background: #ffffff;
}


/***********************************
    tab selection
***********************************/
.left {
    position: fixed;
    top: 60px;
    left: 0;
    width: 30%;
    height: calc(100% - 60px);
    background-image: url('../images/vectorBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 1px solid #55A792;
    box-sizing: border-box;
}
.links {
    position: absolute;
    top: 40px;
    right: 30px;
    height: calc(100% - 80px);
    width: 50px;
    text-align: right;
    display: table;
}
.links-inner {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: bottom;
}
.links img {
    display: block;
    margin: 10px;
    width: 50px;
    height: 50px;
    text-align: right;
    cursor: pointer;
}
#clear {
    margin-top: 50px;
}
.logo {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 70%;
}
.logo img {
    width: 100%;
}


/***********************************
    grid display
***********************************/
.right {
    position: fixed;
    top: 60px;
    right: 0;
    width: 70%;
    height: calc(100% - 60px);
    background: #9cd7ca;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 25px;
    box-sizing: border-box;
}
.grid {
    max-width: calc(100% - 20px);
    margin: 0 auto;
}
.grid-item {
    width:140px;
    height:140px;
    margin:30px;
    position: relative;
}
.cardbg {
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    background: #EBEBEB;
    padding: 5px;
    transform: rotate(5deg);
}
@keyframes wiggle {
    0% {transform: rotate(5deg);}
    25% {transform: rotate(6deg);}
    50% {transform: rotate(5deg);}
    75% {transform: rotate(4deg);}
    100% {transform: rotate(5deg);}
}
.grid-item:hover .cardbg {
    animation-name: wiggle;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}
.card img {
    width: 130px;
    height: 130px;
}
.card {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    background: #F9F9F9;
    padding: 5px;
}

.card img {
    width: 130px;
    height: 130px;
}

/***********************************
    pop ups
***********************************/
.modal-content {
	display: none;
}

#fade-background {
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(235,235,235,0.5);
	z-index: 2;
}
#modal-window {
	position: fixed;
	top: calc(50% - 250px);
	left: calc(50% - 400px);
    width: 800px;
    height: 500px;
	background-color: #EBEBEB;
    z-index: 3;
    transform: rotate(3deg);
}

.modal-content {
    position: relative;
}
.modal-close {
    position: absolute;
    right: -50px;
    top: -50px;
    width: 100px;
    height: 100px;
    background: #f3223f;
    border-radius: 50px;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 99999999999;
}

.popupContain {    
    width: 800px;
    height: 500px;
    transform: rotate(-3deg);
    background: #F9F9F9;
}

.animalPhoto {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(50% - 30px);
    height: calc(50% - 30px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.animalAttr {
    position: absolute;
    top: calc(50% + 10px);
    left: 20px;
    width: calc(50% - 30px);
    height: calc(50% - 30px);
    background: #F2F2F2;
    border: 1px solid #E6E6E6;
    color: #55A792;
    box-sizing: border-box;
    padding: 20px;
}
.column {
    float: left;
    width: calc(50% - 5px);
    margin-right: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #929292;
}
.column h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #55A792;
}
.column span {
    margin: -8px 0 30px 0;
    display: block;
}
.last {
    margin-right: 0;
}

.animalInstruct {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: calc(50% - 30px);
    height: calc(100% - 40px);
    background: #F2F2F2;
    border: 1px solid #E6E6E6;
    color: #929292;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.animalInstruct span {
    font-family: 'Quicksand', sans-serif;
    font-size: 44px;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
    color: #55A792;
}

/*************************************
    MOBILE STYLES
*************************************/

@media only screen and (max-width: 1000px) {
    /***********************************
        mobile main menu
    ***********************************/
    .left {
        position: fixed;
        background: transparent;
        top: calc(100% - 70px);
        left: 0;
        width: 100%;
        height: 70px;
        z-index:1;
    }
    .logo {
        display: none;
    }
    .links {
        top: calc(100% - 200px);
        left: 0;
        width: 100%;
        height: 200px;
        display: block;
    }
    .links-inner {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .links img {
        margin: 0;
        height: 150px;
        width: auto;
    }
    #clear {
        margin: 0 0 0 50px;
    }

    /***********************************
        mobile secondary menu
    ***********************************/
	.nav {
        display: none;
        top: calc(100% - 400px);
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        height: 200px;
        background: rgba(255,255,255, 0.8);
        width: calc(100% - 20px);
        left: 10px;
        border: 0;
        padding-top: 70px;
    }
    .button {
        color: #0c7b65;
        font-size: 60px;
    }
    .button-group.biome {
        min-width: 1700px;
    }
    .button-group.species {
        min-width: 3100px;
    }
    .button-group.size {
        min-width: 1400px;
    }
    .button-group.color {
        min-width: 1400px;
    }

    .swatch.reset {
        font-size: 60px;
        padding: 14px 0 0 5px;
        box-sizing: border-box;
    }

    /***********************************
        mobile content area
    ***********************************/
    .right {
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background-image: url('../images/vectorBG.png') !important;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .grid {
        width: 100%;
        margin: 0;
        max-width: 100%;
        margin-bottom: 200px;
    }
    
    .grid-item {
        width: 280px;
        height:280px;
        margin:30px;
        position: relative;
    }
    .cardbg {
        box-sizing: border-box;
        width: 280px;
        height:280px;
        background: #EBEBEB;
        padding: 5px;
        transform: rotate(5deg);
    }
    .card img {
        width: 270px;
        height: 270px;
    }
    .card {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 280px;
        height: 280px;
        background: #F9F9F9;
        padding: 5px;
    }

    .card img {
        width: 270px;
        height: 270px;
    }

    /***********************************
        pop ups
    ***********************************/
    #modal-window {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(0deg);
    }
    .popupContain {
        transform: rotate(0deg);
        width: 100%;
        height: 100%;
    }

    .modal-close {
        top: 10px;
        right: 10px;
        z-index:5;
    }
    
    .animalPhoto {
        width: calc(100% - 40px);
        height: 400px;
    }
    
    .animalAttr {
        top: 440px;
        width: calc(100% - 40px);
        height: 450px;
    }
    .column h2 {
        font-size: 48px;
    }
    .column span {
        font-size: 30px;
    }
    
    .animalInstruct {
        bottom: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 930px);
        font-size: 30px;
    }
    .animalInstruct br {
        display: none;
    }
    .animalInstruct span {
        margin-top: 0;
        font-size: 70px;
    }
    .swatch {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    /***********************************
        mobile main menu
    ***********************************/
    .links {
        top: calc(100% - 100px);
        height: 100px;
    }
    .links-inner {
        height: 100px;
    }
    .links img {
        height: 90px;
        width: auto;
    }

    /***********************************
        mobile secondary menu
    ***********************************/
	.nav {
        top: calc(100% - 200px);
        height: 100px;
        padding-top: 30px;
    }
    .button {
        font-size: 40px;
    }

    /***********************************
        pop ups
    ***********************************/
    
    .animalPhoto {
        display: none;
    }
    
    .animalAttr {
        top: 20px;
        height: calc((100% - 60px) / 2);
        padding: 0;
    }
    .column h2 {
        font-size: 30px;
    }
    .column span {
        font-size: 20px;
    }
    
    .animalInstruct {
        height: calc((100% - 60px) / 2);
        font-size: 20px;
    }
    .animalInstruct span {
        margin-top: 0;
        font-size: 30px;
    }
    .swatch {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }
}